<div [formGroup]="formGroup">
  <mat-form-field class="input-full-width">
    <mat-label >{{label}}</mat-label>
    <input  matInput
            [type]="tipo"
            [placeholder]="titulo"
            [name]="controlName"
            [formControlName]="controlName"
            required>

            <mat-error *ngIf="validation.hasErrorValidar(formControlNameInput, 'required')" >
                You must enter a value
            </mat-error>

            <mat-error *ngIf="validation.hasErrorValidar(formControlNameInput, 'email')">
              Not a valid email
            </mat-error>
  </mat-form-field>

</div>
